.nav-container{

    position: fixed;
    background-color: rgb(34, 39, 39);
   border-radius: 9px;
   left: 10px;
   border: 1px solid rgb(110, 107, 107);


}

.nav-logo{
    width: 32px;
    height: 32px;
    margin: 10px;
}

.nav-logo:hover{
/* width: 70px;
height: 70px; */
transform: translate(50%,0%);

}

@media screen and (max-width: 480px) {
.nav-container{
    bottom: 10px;
    display: flex;
    flex-direction: row;
      left: 50%;
    transform: translate(-50%, 0);
}
.nav-logo:hover{
    transform: translate(0%,-50%);
}
}